@import url("./Sub.scss");
#productViewPage {
  width: 100%;
  height: auto;
}
#productViewPage #viewsection1 {
  width: 100%;
}
#productViewPage #viewsection1 .container {
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
  padding-top: 76px;
}
#productViewPage #viewsection1 .container .content {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
#productViewPage #viewsection1 .container .content .left-box {
  width: 700px;
}
#productViewPage #viewsection1 .container .content .left-box .gap {
  width: 100%;
}
#productViewPage #viewsection1 .container .content .left-box .gap img {
  width: 100%;
}
#productViewPage #viewsection1 .container .content .right-box {
  width: 580px;
  padding-left: 100px;
}
#productViewPage #viewsection1 .container .content .right-box .gap {
  width: 100%;
}
#productViewPage #viewsection1 .container .content .right-box .gap .row {
  width: 100%;
}
#productViewPage #viewsection1 .container .content .right-box .gap .row.row1 h6 {
  font-size: 18px;
  font-weight: 700;
  color: #6e7683;
  padding-bottom: 15px;
}
#productViewPage #viewsection1 .container .content .right-box .gap .row.row1 .name-box {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
#productViewPage #viewsection1 .container .content .right-box .gap .row.row1 .name-box h2 {
  width: 325px;
  font-size: 26px;
  font-weight: 600;
  color: #000;
  line-height: 1.38em;
}
#productViewPage #viewsection1 .container .content .right-box .gap .row.row1 .name-box button {
  border: 0;
  background: transparent;
  cursor: pointer;
}
#productViewPage #viewsection1 .container .content .right-box .gap .row.row1 .name-box button img {
  width: 22px;
  height: 22px;
}
#productViewPage #viewsection1 .container .content .right-box .gap .row.row1 .title-box {
  padding-top: 20px;
}
#productViewPage #viewsection1 .container .content .right-box .gap .row.row1 .title-box .price-box {
  display: flex;
  align-items: center;
  padding-bottom: 15px;
  border-bottom: 1px solid #e5e8ea;
}
#productViewPage #viewsection1 .container .content .right-box .gap .row.row1 .title-box .price-box h3 {
  width: 93px;
  font-size: 16px;
  color: #666;
  font-weight: 600;
}
#productViewPage #viewsection1 .container .content .right-box .gap .row.row1 .title-box .price-box span {
  font-size: 16px;
  text-decoration: line-through;
  color: #6e7683;
  margin-right: 10px;
}
#productViewPage #viewsection1 .container .content .right-box .gap .row.row1 .title-box .price-box strong {
  font-size: 24px;
  color: #000;
  font-weight: 700;
}
#productViewPage #viewsection1 .container .content .right-box .gap .row.row1 .title-box .price-box p {
  font-size: 24px;
}
#productViewPage #viewsection1 .container .content .right-box .gap .row.row1 .title-box .price-box h4 {
  color: #eb4d72;
  font-size: 18px;
  margin-left: 8px;
  font-weight: 700;
}
#productViewPage #viewsection1 .container .content .right-box .gap .row.row1 .title-box .earn-box {
  display: flex;
  flex-direction: column;
  padding: 15px 0;
  border-bottom: 1px solid #e5e8ea;
}
#productViewPage #viewsection1 .container .content .right-box .gap .row.row1 .title-box .earn-box .sale-price {
  display: flex;
  align-items: center;
  min-height: 26px;
}
#productViewPage #viewsection1 .container .content .right-box .gap .row.row1 .title-box .earn-box .sale-price h3 {
  width: 93px;
  font-size: 16px;
  color: #666;
  font-weight: 600;
}
#productViewPage #viewsection1 .container .content .right-box .gap .row.row1 .title-box .earn-box .sale-price span {
  font-size: 16px;
  color: #3565d2;
}
#productViewPage #viewsection1 .container .content .right-box .gap .row.row1 .title-box .earn-box .delivery {
  display: flex;
  align-items: center;
  min-height: 26px;
  margin-top: 6px;
}
#productViewPage #viewsection1 .container .content .right-box .gap .row.row1 .title-box .earn-box .delivery h3 {
  width: 93px;
  font-size: 16px;
  color: #666;
  font-weight: 600;
}
#productViewPage #viewsection1 .container .content .right-box .gap .row.row1 .title-box .earn-box .delivery span {
  font-size: 16px;
  color: #3565d2;
}
#productViewPage #viewsection1 .container .content .right-box .gap .row.row2 {
  width: 100%;
  padding-top: 24px;
}
#productViewPage #viewsection1 .container .content .right-box .gap .row.row2 ul li {
  padding-bottom: 10px;
}
#productViewPage #viewsection1 .container .content .right-box .gap .row.row2 ul li .gap {
  width: 100%;
  position: relative;
  z-index: 2;
  border-radius: 5px;
  background-color: #f5f5f5;
  padding: 10px 20px 14px 10px;
}
#productViewPage #viewsection1 .container .content .right-box .gap .row.row2 ul li .gap p {
  color: #363e4a;
  padding: 3px 0;
}
#productViewPage #viewsection1 .container .content .right-box .gap .row.row2 ul li .gap .num-count-box {
  display: flex;
  justify-content: space-between;
  margin-top: 16px;
}
#productViewPage #viewsection1 .container .content .right-box .gap .row.row2 ul li .gap .num-count-box .button-box {
  display: flex;
  justify-content: center;
  align-items: center;
}
#productViewPage #viewsection1 .container .content .right-box .gap .row.row2 ul li .gap .num-count-box .button-box button {
  width: 30px;
  height: 30px;
  border: solid 1px #e5e8ea;
  background: #fff;
  cursor: pointer;
}
#productViewPage #viewsection1 .container .content .right-box .gap .row.row2 ul li .gap .num-count-box .button-box span {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  border-top: solid 1px #e5e8ea;
  border-bottom: solid 1px #e5e8ea;
  color: #292929;
  background: #fff;
  font-size: 12px;
}
#productViewPage #viewsection1 .container .content .right-box .gap .row.row2 ul li .gap .num-count-box .button-price-box {
  display: flex;
  align-items: center;
}
#productViewPage #viewsection1 .container .content .right-box .gap .row.row2 ul li .gap .num-count-box .button-price-box strong {
  font-size: 18px;
  font-weight: 700;
}
#productViewPage #viewsection1 .container .content .right-box .gap .row.row2 ul li .gap .num-count-box .button-price-box p {
  font-size: 15px;
  font-weight: 700;
}
#productViewPage #viewsection1 .container .content .right-box .gap .row.row2 ul li .gap .close {
  border: 0;
  background: transparent;
  position: absolute;
  z-index: 1;
  top: 5px;
  right: 10px;
  display: none;
}
#productViewPage #viewsection1 .container .content .right-box .gap .row.row2 ul li .gap .close img {
  width: 10px;
  height: 10px;
}
#productViewPage #viewsection1 .container .content .right-box .gap .row.row2 ul li .gap .close.on {
  display: block;
}
#productViewPage #viewsection1 .container .content .right-box .gap .row.row3 {
  width: 100%;
  padding-bottom: 20px;
}
#productViewPage #viewsection1 .container .content .right-box .gap .row.row3 .gap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 24px 0;
}
#productViewPage #viewsection1 .container .content .right-box .gap .row.row3 .gap span {
  font-size: 15px;
  font-weight: 700;
  color: #363e4a;
}
#productViewPage #viewsection1 .container .content .right-box .gap .row.row3 .gap .total-price {
  display: flex;
  align-items: center;
}
#productViewPage #viewsection1 .container .content .right-box .gap .row.row3 .gap .total-price strong {
  font-size: 24px;
  font-weight: 700;
}
#productViewPage #viewsection1 .container .content .right-box .gap .row.row3 .gap .total-price p {
  font-size: 20px;
  font-weight: 700;
}
#productViewPage #viewsection1 .container .content .right-box .gap .row.row4 {
  width: 100%;
}
#productViewPage #viewsection1 .container .content .right-box .gap .row.row4 .gap {
  width: 100%;
}
#productViewPage #viewsection1 .container .content .right-box .gap .row.row4 .gap button {
  font-size: 16px;
  font-weight: 600;
  height: 56px;
  cursor: pointer;
}
#productViewPage #viewsection1 .container .content .right-box .gap .row.row4 .gap button:nth-child(1) {
  width: 206px;
  background: #fff;
  color: #363e4a;
  border: solid 1px #363e4a;
  border-radius: 5px;
  text-align: center;
}
#productViewPage #viewsection1 .container .content .right-box .gap .row.row4 .gap button:nth-child(2) {
  margin-left: 6px;
  background: #363e4a;
  color: #fff;
  width: 206px;
  border: solid 1px #363e4a;
  border-radius: 5px;
}
#productViewPage #viewsection1 .container .content .right-box .gap .row.row4 .gap button:nth-child(3) {
  width: 56px;
  height: 56px;
  padding: 7px;
  border-radius: 8px;
  border: solid 1px #e5e8ea;
  margin-left: 6px;
  background: transparent;
}
#productViewPage #viewsection1 .container .content .right-box .gap .row.row4 .gap button:nth-child(3) img {
  width: 40px;
  height: 40px;
}
#productViewPage #viewsection2 {
  width: 100%;
  padding-bottom: 100px;
}
#productViewPage #viewsection2 .viewcontainer {
  width: 100%;
  max-width: 1280px;
  display: flex;
  padding-top: 100px;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
}
#productViewPage #viewsection2 .viewcontainer img {
  width: 100%;
}
#productViewPage #viewsection2 .viewcontainer img:last-child {
  width: 312px;
  padding-bottom: 50px;
}
#productViewPage #viewsection2 .viewcontainer iframe {
  padding: 50px 0;
}