#section2 {
  width: 100%;
  background: #F5F5F7;
}
#section2 .container {
  width: 100%;
  max-width: 1400px;
  margin: 0 auto;
  padding: 44px 0;
  position: relative;
}
#section2 .container .slide_container {
  width: 100%;
  max-width: 1400px;
}
#section2 .container .slide_container .slide-view {
  width: 100%;
  padding: 0 10px;
  overflow: hidden;
}
#section2 .container .slide_container .slide-view .slide-wrap {
  width: 1408px;
  display: flex;
  position: relative;
  margin-left: 0px;
}
#section2 .container .slide_container .slide-view .slide-wrap .slide {
  width: 25%;
  height: 420px;
  margin-right: 28px;
}
#section2 .container .slide_container .slide-view .slide-wrap .slide a {
  display: block;
  width: 324px;
  height: 100%;
  position: relative;
}
#section2 .container .slide_container .slide-view .slide-wrap .slide a p {
  width: auto;
  height: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 600;
  position: absolute;
  top: 20px;
  left: 20px;
  font-size: 12px;
  color: #9f0040;
  border: 1px solid #9f0040;
  border-radius: 3px;
  padding: 0 5px;
}
#section2 .container .slide_container .slide-view .slide-wrap .slide a h2 {
  position: absolute;
  width: 90%;
  top: 50px;
  left: 20px;
  font-size: 20px;
  margin-top: 6px;
  font-weight: 600;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
#section2 .container .slide_container .slide-view .slide-wrap .slide a h3 {
  position: absolute;
  top: 90px;
  left: 20px;
  font-size: 13px;
}
#section2 .container .slide_container .slide-view .slide-wrap .slide a img {
  width: 100%;
  height: 100%;
}
#section2 .container .swiper-nav {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}
#section2 .container .swiper-nav .swiper-spot {
  display: inline-block;
  width: 4px;
  height: 4px;
  background: #000;
  margin: 0 3px;
  width: 4px;
  opacity: 0.2;
  border-radius: 0;
  transition: opacity 0.3s ease-in-out, width 0.3s ease-in-out 0.3s;
  background-color: #363e4a;
  cursor: pointer;
}
#section2 .container .swiper-nav .swiper-spot.on {
  opacity: 1;
  width: 18px;
  cursor: pointer;
}
#section2 .container button {
  z-index: 3;
  position: absolute;
  width: 35px;
  height: 35px;
  background: none;
  border: none;
  cursor: pointer;
}
#section2 .container button.prev-btn {
  top: 240px;
  left: -0.5%;
}
#section2 .container button.prev-btn img {
  width: 100%;
  height: 100%;
}
#section2 .container button.next-btn {
  top: 240px;
  right: -0.5%;
}
#section2 .container button.next-btn img {
  width: 100%;
  height: 100%;
}