@import url('./Sub.scss');
#sub2{
    width: 100%;
    height: auto;
    .title{
        width: 100%;
        height: 100%;
        span{
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            text-align: center;
            padding: 53px 0 53px 0;
            h2{
                font-size: 34px;
                font-weight: 600;
                height: 100%;       
                color: #1a1a1a;    
            }
        }       
        .filter-box{
            width: 100%;
            margin-bottom: 40px;
            ul{
                display: flex;
                align-items: center;
                justify-content: center;
                li{
                    padding-right: 10px;
                    button{
                        width: 100%;
                        min-width: 84px;
                        background: rgba(0,0,0,0);
                        border: 1px solid rgba(54, 62, 74,0.2);
                        border-radius: 25px;
                        font-size: 16px;
                        padding: 0 14px 0 14px;
                        height: 50px;
                        color: #363e4a;
                        cursor: pointer;
                        &.on{
                            background: rgb(54, 62, 74);
                            color: #fff;
                        }
                    }
                }
            }
        }
    }
    .content {
        width: 1400px;
        padding: 0 60px;
        margin: 0 auto;
        ul {
            display: flex;
            flex-flow: wrap;
            width: 100%;
            border-bottom: 1px solid rgb(229, 232, 234);
            li {
                width: 320px;
                height: 480px;
                padding: 24px 17px 15px 23px;
                background-color: #fff;
                border: 1px solid rgb(229, 232, 234);;
                .list-box {
                    width: 100%;
                    height: 100%;
                    .img-box {
                        a {
                            display: block;
                            width: 100%;
                            img {
                                border-radius: 8px;
                                width: 273px;
                                height: 273px;
                            }
                        }
                    }
                    .text-box {
                        width: 100%;
                        padding-top: 20px;
                        .row1 {
                            display: flex;
                            justify-content: space-between;
                            align-items: center;
                            .col1 {
                                span {
                                    font-size: 12px;
                                    font-weight: 600;
                                    padding: 3px 7px;
                                    border-radius: 3px;
                                    height: 24px;
                                    line-height: 24px;
                                    margin-right: 8px;
                                    &.할인 {
                                        border: 1px solid rgb(255, 180, 180);
                                        color: rgb(240, 77, 77);
                                    }
                                    &.타임딜 {
                                        border: 1px solid rgb(244, 217, 158);
                                        color: rgb(224, 156, 47);
                                    }
                                    &.무료배송 {
                                        border: 1px solid rgb(88, 108, 217);
                                        color: rgb(41, 75, 216);
                                    }
                                    &.NEW {
                                        border: 1px solid #CB1BCB;
                                        color: #CB1BCB;
                                    }
                                }
                            }
                            .col2 {
                                button {
                                    border: 0;
                                    background: none;
                                    cursor: pointer;
                                    &.hover {
                                        background-image: url('../../../../../public/images/main/section9/bookmark_hover.png');
                                    }
                                    img {
                                        width: 26px;
                                    }
                                }
                            }
                        }
                        .row2 {
                            h4 {
                                height: 68px;
                                margin-top: 6px;
                                a {
                                    // font-size: 13px;
                                    font-weight: 600;
                                    line-height: 23.94px; 
                                    letter-spacing: -0.38px; 
                                }
                            }
                        }
                        .row3 {
                            display: flex;
                            align-items: center;
                            margin-top: 10px;
                            p {
                                &.dis-price {
                                    font-size: 18px;
                                    font-weight: 700;
                                    margin-right: 13px;
                                }
                                &.price {
                                    font-size: 15px;
                                    margin-right: 13px;
                                    color: rgb(153, 153, 153);
                                    text-decoration: line-through;
                                }
                                &.discount {
                                    font-size: 16px;
                                    color: rgb(235, 77, 114);
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    .event-bottom{
        width: 100%;
        height: 28px;
        margin-top: 40px;
        margin-bottom: 60px;
        span{
            display: flex;
            align-items: center;
            justify-content: center;
            a{
                width: 26px;
                height: 16px;
                display: flex;
                align-items: center;
                justify-content: center;
                padding: 0 3px;
                background: rgba(255,255,255,0);                
                &.btnnum{
                    width: 28px;
                    height: 28px;
                    font-size: 16px;
                    font-weight: 600; 
                    &.on{
                        border-radius: 14px;
                        background: rgb(229, 232, 234);
                    }                   
                }                
                img{
                    width: 100%;
                    height: 100%;
                }
            }
        }
            
    }
}